.footer-container {
  width: 100%;
  background-color: #111;
  padding: 4rem 0;
}
.footer-container p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
hr {
  max-width: 1440px;
  margin: 0 auto;
}
.top-container,
.bottom-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-container {
  padding-bottom: 2.65rem;
}
.bottom-container {
  padding-top: 2.65rem;
}
.top-container > img {
  padding-left: 1.5rem;
}
.contact {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.contact img {
  display: flex;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
}

.circle-icon {
  width: 48px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 200ms ease, opacity 200ms ease;
}
.icon-container {
  display: flex;
  align-items: center;
  gap: 26px;
}
.icon-container img {
  transition: all 200ms ease;
}
.icon-container img:hover {
  opacity: 0.9;
  transform: scale(1.1);
  cursor: pointer;
}
